body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #042957ee;
  color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.8rem;
  color: #eee;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
  margin: 0 auto;
  background-color: #0f163dee;
}

.menyContainer {
  background-color: #0f163dee;
}

.huvudMeny {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.huvudMeny a {
  background-color: #0f163dee;
  color: #eee;
  border: 1px solid #a2a2a2;
  padding: 0.8rem;
}

#projektInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startKnapp {
  padding: 1.2rem;
  background-color: #151414ee;
  color: #eee;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
