body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #042957ee;
  color: #eee;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem;
  color: #eee;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
}

#namn {
  font-size: 0.8rem;
}

.menyContainer {
  background-color: #0f163dee;
  display: flex;
  justify-content: space-between;
}

.huvudMeny {
  display: flex;
  flex-direction: row;
  margin: 0 15rem;
}

.huvudMeny a {
  display: relative;
  background-color: #0f163dee;
  color: #eee;
  border: 1px solid #c4c4c4;
  padding: 1.5rem;
  /* margin: 0.7rem 0; */
}

.huvudMeny a:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  text-decoration: none;
}

.huvudMeny a:first-child {
  background-color: #003c84;
}

.huvudMeny a:nth-child(2) {
  background-color: #019ba3f7;
}

#topScore {
  background-color: rgb(255, 252, 88);
}

#projektInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#spelRuta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 70vh;
}

#startKnapp {
  padding: 1.5rem;
  background-color: #0b6368f7;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  color: #eee;
  cursor: pointer;
  border-radius: 0.4rem;
}

#startKnapp:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 3s;
  border-radius: 2rem;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}
